<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/graph</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">sql123</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="model.EdgeEntity"/>
        <mapping resource="link.hbm.xml"/>
        <mapping class="model.EdgeattributeEntity"/>
        <mapping class="model.NodeEntity"/>
        <mapping class="model.NodecapabilityEntity"/>
        <mapping class="model.DescriptionEntity"/>
        <mapping class="model.Points_of_interestEntity"/>
    </session-factory>
</hibernate-configuration>