<?xml version="1.0" encoding="UTF-8"?>
<ns0:configData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ns0="de/uniluebeck/itm/metadatenservice/config" xsi:schemaLocation="de/uniluebeck/itm/metadatenservice/config config.xsd">
	<ns0:serverIP>localhost</ns0:serverIP>
	<ns0:serverPort>8080</ns0:serverPort>
	<ns0:clientPort>1238</ns0:clientPort>
	<ns0:username>testUser</ns0:username>
	<ns0:password>testPassword</ns0:password>
	<ns0:updateRate>5000</ns0:updateRate>
</ns0:configData>